// @import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic|Alegreya+Sans:400,400italic,800);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800);

@import "bower_components/inuit-defaults/settings.defaults";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";


// Our variables
$base-font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$base-font-size:   24px;
$base-font-weight: 400;
$header-font-family: "Alegreya Sans", sans-serif;
$header-font-weight: 800;
$small-font-size:  20px;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #fdfdfd;
$brand-color:      #4C6A92;

$grey-color:       #595959;
$grey-color-light: lighten($grey-color, 32%);
$grey-color-dark:  darken($grey-color, 16%);

$focus-color:       #ffbf47;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($on-palm) {
    @media screen and (max-width: $on-palm) {
        @content;
        .header-profile-image {
          width: 48px !important;
          height: 48px !important;
        }
        .header-profile-summary {
          font-size: 54px !important;
        }
        .header-profile-contact, .header-profile-action {
          margin: 5px !important;
        }
    }
}

@import "bower_components/inuit-page/base.page";
@import "base.page";

@import "objects.layout";
@import "objects.syntax-highlighting";


// Components
.header__hero__image__underlay--bg {
  /*background: url('https://source.unsplash.com/lZxKede1hW8') transparent center center no-repeat;*/
  background-color: #4C6A92;
  background-position: center center;
  background-size: cover;
}
.header__hero__image__middlelay--gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: transparent;
  -webkit-animation: 15s colors infinite;
     -moz-animation: 15s colors infinite;
          animation: 15s colors infinite;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 100%);
}
.header__hero__image__overlay--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 16;
}
.header-site-logo {
  width: auto;
  height: 40px;
  margin: 20px;
  opacity: .70;
  position: absolute;
  top: 0;
  left: 0;
}
.header-page-logo {
  width: auto;
  height: 40px;
  margin: 20px 0;
  // opacity: .70;
}
.header-profile-conversation {
  position: absolute;
  top: 0;
  margin: 20px;
}

.header-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 2px solid #fff;
  padding: 2px;
  margin: 0 auto $spacing-unit;
  text-align: center;
  display: block;
}
.header-profile-summary {
  width: auto;
  //max-width: 80%;
  margin: 0 1% 0 1%;
  padding: 0 1% 0 1%;
  border-radius: 16px;
  color: #fff;
  font-size: 112px;
  font-weight: 800;
  line-height: 1;
  text-align: left;
  //display: inline-block;
  //vertical-align: top;
}
.header-profile-contact, .header-profile-action {
  padding: 10px 20px;
  margin: 10px 5px;
  border: 1px solid rgba(255,255,255,0.3);
  background: #ff448d;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
}
.header-profile-action {
  background: #bce561;
  color: rgba(0,0,0,.87)!important;
}
.header-profile-contact:hover, .header-profile-action:hover {
  background: darken(#ff448d, 12%);
  //background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.header-profile-action:hover {
  background: darken(#bce561, 12%);
}
.footer__profile__image {
  border: 2px solid $grey-color-light;
  border-radius: 80px;
  height: 80px;
  padding: 2px;
  width: 80px;
}


// Trumps
.hidden {
  display: none;
}
.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.absolute-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


// Dark mode
input#mode[type=checkbox] + label, input#mode[type=checkbox] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
input#mode[type=checkbox] + label {
  background: $focus-color;
  border-top: 1px solid rgba($text-color, 0.18);
  color: mix($brand-color, rgba($text-color, 0.87), 16%);
  padding: 5px 0;
  font-weight: 700;
}
input#mode[type=checkbox] {
  z-index: 2;
  margin: 16px 10px;
  @include media-query($on-palm) {
    margin: 13px 10px;
  }
}
input#mode[type=checkbox]:checked ~ div#main {
   background-color: mix($brand-color, rgba($text-color, 0.87), 16%);
   color: rgba($background-color, 0.7);

   a {
       color: lighten($brand-color, 16%);
       text-decoration: none;

       &:visited {
           color: lighten($brand-color, 8%);
       }

       &:hover {
           color: $background-color;
           text-decoration: underline;
       }
   }
   blockquote {
     color: rgba($background-color, 0.7);
   }
   .post-meta {
     color: rgba($background-color, 0.7);
   }
}


// Animations
@-webkit-keyframes colors {
  0% {
      background-color: rgba(#7db9e8, 0.38);
  }
  20% {
      background-color: rgba(#82c06b, 0.38);
  }
  40% {
      background-color: rgba(#73bcc3, 0.38);
  }
  60% {
      background-color: rgba(#e33d3d, 0.38);
  }
  80% {
      background-color: rgba(#e48a70, 0.38);
  }
  100% {
      background-color: rgba(#7db9e8, 0.38);
  }
}
@-moz-keyframes colors {
  0% {
      background-color: rgba(#7db9e8, 0.38);
  }
  20% {
      background-color: rgba(#82c06b, 0.38);
  }
  40% {
      background-color: rgba(#73bcc3, 0.38);
  }
  60% {
      background-color: rgba(#e33d3d, 0.38);
  }
  80% {
      background-color: rgba(#e48a70, 0.38);
  }
  100% {
      background-color: rgba(#7db9e8, 0.38);
  }
}
@keyframes colors {
  0% {
      background-color: rgba(#7db9e8, 0.38);
  }
  20% {
      background-color: rgba(#82c06b, 0.38);
  }
  40% {
      background-color: rgba(#73bcc3, 0.38);
  }
  60% {
      background-color: rgba(#e33d3d, 0.38);
  }
  80% {
      background-color: rgba(#e48a70, 0.38);
  }
  100% {
      background-color: rgba(#7db9e8, 0.38);
  }
}
