@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

@import "bower_components/inuit-defaults/settings.defaults";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

// Our variables
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #ff448d;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($on-palm) {
    @media screen and (max-width: $on-palm) {
        @content;
        .header-profile-image {
          width: 48px !important;
          height: 48px !important;
        }
        .header-profile-summary {
          font-size: 22px !important;
        }
        .header-profile-contact, .header-profile-action {
          margin: 5px !important;
        }
    }
}

@import "bower_components/inuit-page/base.page";
@import "base.page";

@import "objects.layout";
@import "objects.syntax-highlighting";

// Components
.header-hero-image-bg {
  background: url('https://source.unsplash.com/lZxKede1hW8') transparent center center no-repeat;
  background-size: cover;
}
.header-hero-image-gradient-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: transparent;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.7) 100%)
}
.header-hero-image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 16;
}
.header-site-logo {
  width: auto;
  height: 40px;
  margin: 20px;
  opacity: .70;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-site-logo {
  width: auto;
  height: 40px;
  margin: 20px;
  opacity: .70;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-page-logo {
  width: auto;
  height: 40px;
  margin: 20px 0;
  opacity: .70;
}
.header-profile-conversation {
  position: absolute;
  top: 0;
  margin: 20px;
}

.header-profile-image {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.header-profile-summary {
  width: auto;
  //max-width: 80%;
  margin: 0 1% 0 1%;
  padding: 0 1% 0 1%;
  border-radius: 16px;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  //display: inline-block;
  //vertical-align: top;
}

.header-profile-contact, .header-profile-action {
  padding: 10px 20px;
  margin: 10px 5px;
  border: 1px solid rgba(255,255,255,0.3);
  background: #ff448d;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
}
.header-profile-action {
  background: #bce561;
  color: rgba(0,0,0,.87)!important;
}
.header-profile-contact:hover, .header-profile-action:hover {
  background: darken(#ff448d, 12%);
  //background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.1) 100%);
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.header-profile-action:hover {
  background: darken(#bce561, 12%);
}


// Trumps
.hidden {
  display: none;
}
.absolute-centering {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
