<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>
          Get in touch for a chat. <a href="https://twitter.com/charles_rt">Follow me on Twitter</a>, or you can contact me by sending an email to charlesrt.design [ at ] gmail.com
        </p>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-1">
        {% include social-media-list.html %}
      </div>

    </div>

  </div>

</footer>
