<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:site_name" content="Charles RT" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Charles RT" />
  <meta property="og:description" content="Interaction designer based in Leeds, currently making government digital services better." />
  <meta property="og:url" content="http://charlesrt.co.uk/" />
  <meta property="og:image" content="http://charlesrt.co.uk/assets/2016-02-23-setting-an-open-standard-for-job-postings/user-journey-photo.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Charles RT" />
  <meta name="twitter:description" content="Interaction designer based in Leeds, currently making government digital services better." />
  <meta name="twitter:url" content="http://charlesrt.co.uk/" />
  <meta name="twitter:image:src" content="http://charlesrt.co.uk/assets/2016-02-23-setting-an-open-standard-for-job-postings/user-journey-photo.jpg" />

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "publisher": "Charles RT",
  "url": "http://charlesrt.co.uk/",
  "image": "http://charlesrt.co.uk/assets/2016-02-23-setting-an-open-standard-for-job-postings/user-journey-photo.jpg",
  "description": "Interaction designer based in Leeds, currently making government digital services better."
}
  </script>
</head>
