<header class="site-header header-hero-image-bg" style="background-image: url(/assets/site-cover.jpg)">

  <div class="header-hero-image-gradient-overlay">
  </div>

  <div class="header-hero-image-overlay">
    <a class="site-title" href="{{ site.baseurl }}/"><img class="header-site-logo " src="/assets/site-logo.png" /></a>

    <div class="absolute-centering">
      <img class="header-profile-image" src="/assets/site-profile.jpg" />
      <p class="header-profile-summary">Hi there, I'm Charles.<br>I am an interaction designer based in Leeds, currently making government digital services better.<br>
        <a class="header-profile-contact" href="mailto:{{ site.email }}">Get in touch</a><a class="header-profile-action" href="#main">See what I do</a>
      </p>
    </div>

  </div>

</header>
