///*------------------------------------*\
//    #PAGE ELEMENTS
//\*------------------------------------*/

body {
  color: $text-color;
  color: rgba($text-color, 0.87);
  background-color: $background-color;
  border-top: 2px solid $brand-color;
  font-family: $base-font-family;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, iframe,
%vertical-rhythm {
  font-size: $base-font-size;
  line-height: $base-line-height / $base-font-size;
  margin-bottom: $spacing-unit-factor-small;

  @include media-query($on-palm) {
    font-size: $small-font-size;
  }
}

p, blockquote, iframe {
  margin-bottom: $spacing-unit;
}

/**
 * Images
 */
img {
  box-shadow: 0 45.4px 70px -20.4px rgba(0, 0, 0, 0.3);
  @include media-query($on-palm) {
    box-shadow: none;
    max-width: calc(100% + #{$spacing-unit});
    margin-left: -$spacing-unit-factor-small;
    margin-right: -$spacing-unit-factor-small;
 }
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: 1;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 8%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
* Inline paragraph links mainain their underline
*/
p a {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit-factor-small;
  font-size: $small-font-size;
  letter-spacing: 0.5px;

  > :last-child {
      margin-bottom: 0;
  }
}

/**
 * Horizontal rule
 */

hr {
  display: block;
  border: 0;
  text-align: center;
  letter-spacing: .6em;
  font-size: $base-font-size + 4;
  margin-bottom: $spacing-unit;

  &:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0, 0, 0, .6);
    position: relative;
    top: -$spacing-unit;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: $small-font-size;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: $background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Forms
 */
input, textarea {
  border: 2px solid $dark-color;
  margin-bottom: $spacing-unit-factor-tiny;
  padding: $spacing-unit-factor-tiny;
  width: 100%;
}
button {
  background-color: $dark-color;
  color: $background-color;
  margin-bottom: $spacing-unit-factor-small;
  padding: $spacing-unit-factor-tiny;
}
