///*------------------------------------*\
//    #LAYOUT
//\*------------------------------------*/

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit-factor-small;
    padding-left: $spacing-unit-factor-small;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Site header
 */
.site-header {
  min-height: 16vh;
  width: 100%;
  background: $dark-color;
  position: relative;
  // overflow: auto;
}

.site-title {
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: left;
  margin: 0;

  .menu-icon, .nav-trigger {
    display: none;
  }

  .page-link {
    color: lighten($brand-color, 8%);
    font-size: $small-font-size;

    // Gaps between nav items, but not on the last one
    &:not(:first-child) {
        margin-left: $spacing-unit-factor-small;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    z-index: 2;
    top: $spacing-unit-factor-small;
    right: $spacing-unit-factor-small;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
            fill: $grey-color-dark;
        }
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: $spacing-unit-factor-small;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: $small-font-size;
  margin-bottom: $spacing-unit-factor-small;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  li {
    float: left;
  }

  span.username {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
}

.footer-col-wrapper {
  color: $grey-color;
  margin-left: -$spacing-unit-factor-small;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit-factor-small;
  padding-left: $spacing-unit-factor-small;
}

.footer-col p {
  font-size: $small-font-size;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: 0;
}

.page-heading {
  font-size: $base-font-size * 2;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-top: $spacing-unit-factor-small;
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: $base-font-size * 1.5;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  color: rgba($background-color, 0.7);

  .post-meta {
    color: rgba($background-color, 0.7);
  }
}

.post-title {
  font-size: $base-font-size * 3;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: $base-font-size * 2;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: $base-font-size * 2;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 1.5;
    }
  }

  h3 {
    font-size: $base-font-size * 1.5;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 1.25;
    }
  }

  h4 {
    font-size: $base-font-size * 1.25;

    @include media-query($on-laptop) {
        font-size: $base-font-size;
    }
  }
}

.image-caption {
  text-align: center;
  color: $grey-color;
  font-size: $small-font-size;
  margin-left: $spacing-unit-factor-large;
  margin-right: $spacing-unit-factor-large;
}
