///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800);

$base-font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$base-font-weight: 400;
$base-font-size:   24px;
$base-line-height: 36px;
$small-font-size:  20px;

$header-font-family: "Alegreya Sans", sans-serif;
$header-font-weight: 800;

$spacing-unit:     round($base-line-height) !default;

$spacing-unit-factor-tiny:   round($spacing-unit * 0.25) !default;
$spacing-unit-factor-small:  round($spacing-unit * 0.5)  !default;
$spacing-unit-factor-large:  round($spacing-unit * 2)    !default;
$spacing-unit-factor-huge:   round($spacing-unit * 4)    !default;

$white:           #ffffff;
$black:           #000000;

$background-color: #fdfdfd;
$text-color:       $black;

$brand-color:      #4C6A92;

$dark-color:       mix($brand-color, $text-color, 32%);
$light-color:       mix($brand-color, $white, 16%);

$grey-color:       #595959;
$grey-color-light: lighten($grey-color, 32%);
$grey-color-dark:  darken($grey-color, 16%);

$focus-color:       #ffbf47;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
