///*------------------------------------*\
//    #TRUMPS
//\*------------------------------------*/

.hidden {
  display: none;
}
.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.absolute-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
