///*------------------------------------*\
//    #DARK MODE
//\*------------------------------------*/

input#mode[type=checkbox] + label, input#mode[type=checkbox] {
  position: fixed;
  z-index: 3;
  bottom: 22px;
  right: 22px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  text-align: center;
}
input#mode[type=checkbox] + label {
  display: block;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input#mode[type=checkbox] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
input#mode[type=checkbox] + label:before,
input#mode[type=checkbox] + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 22px;
  padding-top: 9px;
}
input#mode[type=checkbox] + label:before {
  background: $dark-color;
  content: url(/assets/icon-moon.svg);
  // -webkit-transition: -webkit-transform 300ms;
  // -moz-transition: -moz-transform 300ms;
  // -o-transition: -o-transform 300ms;
  // transition: transform 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input#mode[type=checkbox] + label:after {
  background: $focus-color;
  content: url(/assets/icon-sun.svg);
  // -webkit-transition: -webkit-transform 300ms;
  // -moz-transition: -moz-transform 300ms;
  // -o-transition: -o-transform 300ms;
  // transition: transform 300ms;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input#mode[type=checkbox]:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input#mode[type=checkbox]:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
input#mode[type=checkbox]:checked ~ div#main {
   background-color: mix($brand-color, $text-color, 48%);
   color: rgba($white, 0.87);
  //  -webkit-transition: 300ms;
  //  -moz-transition: 300ms;
  //  -o-transition: 300ms;
  //  transition: 300ms;

   a {
     color: lighten($brand-color, 16%);
    //  text-decoration: none;

     &:visited {
       color: lighten($brand-color, 8%);
     }

     &:hover {
       color: $background-color;
       text-decoration: underline;
     }
   }
   blockquote {
     color: rgba($white, 0.7);
   }
   .post-meta {
     color: rgba($white, 0.7);
   }
   .image-caption {
     color: rgba($white, 0.7);
   }
   .header-skew {
     @include skew-edge($pos-btm: bottomleft, $skew-btm: 1.6deg, $background: $dark-color, $border: rgba($white, 0.87));
   }
}
input#white-black[type=radio]:checked ~ * {
   background-color: white;
   color: black;
}
input#black-white[type=radio]:checked ~ * {
   background-color: black;
   color: white;
}
input#blue-yellow[type=radio]:checked ~ * {
   background-color: blue;
   color: yellow;
}
input#yellow-blue[type=radio]:checked ~ * {
   background-color: yellow;
   color: blue;
}


div#main {
  // -webkit-transition: 300ms;
  // -moz-transition: 300ms;
  // -o-transition: 300ms;
  // transition: 300ms;
}
