<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- <input type="radio" class="a11y" id="white-black" name="colour" value="">
    <label class="a11y" for="white-black">White black</label>
    <input type="radio" class="a11y" id="black-white" name="colour" value="">
    <input type="radio" class="a11y" id="blue-yellow" name="colour" value="">
    <input type="radio" class="a11y" id="yellow-blue" name="colour" value=""> -->

    <input type="checkbox" id="mode" value="" checked>
    <label for="mode"></label>

    <div id="main" class="page-content">

      {% include header.html %}

      {{ content }}

    </div>

    {% include footer.html %}

  </body>

</html>
